@import "tailwindcss";

/* 自定义字体定义 */
@font-face {
  font-family: 'TikTokSans';
  src: url('/fonts/TikTokSans[opsz,slnt,wdth,wght].ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {


  --color-lime-50: oklch(98.6% 0.031 120.757);
  --color-lime-100: oklch(96.7% 0.067 122.328);
  --color-lime-200: oklch(93.8% 0.127 124.321);
  --color-lime-300: oklch(89.7% 0.196 126.665);
  --color-lime-400: oklch(84.1% 0.238 128.85);
  --color-lime-500: oklch(76.8% 0.233 130.85);
  --color-lime-600: oklch(64.8% 0.2 131.684);
  --color-lime-700: oklch(53.2% 0.157 131.589);
  --color-lime-800: oklch(45.3% 0.124 130.933);
  --color-lime-900: #35530e;
  --color-lime-950: oklch(27.4% 0.072 132.109);

  --color-neutral-50: oklch(98.5% 0 0);
  --color-neutral-100: oklch(97% 0 0);
  --color-neutral-200: oklch(92.2% 0 0);
  --color-neutral-300: oklch(87% 0 0);
  --color-neutral-400: oklch(70.8% 0 0);
  --color-neutral-500: oklch(55.6% 0 0);
  --color-neutral-600: oklch(43.9% 0 0);
  --color-neutral-700: oklch(37.1% 0 0);
  --color-neutral-800: oklch(26.9% 0 0);
  --color-neutral-900: oklch(20.5% 0 0);
  --color-neutral-950: oklch(14.5% 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {

  /* --breakpoint-lg: 80rem; */

  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #000000;

  
  /* 背景颜色 */
  --color-fill-brand: var(--color-lime-900);
  --color-fill-black: var(--color-neutral-950);
  --color-fill-white: var(--color-neutral-50);
  --color-fill-one: var(--color-neutral-50);
  --color-fill-two: var(--color-neutral-100);
  --color-fill-three: var(--color-neutral-200);
  --color-fill-four: var(--color-neutral-300);

  /* 字体颜色 */
  --color-text-brand: var(--color-lime-900);
  --color-text-black: var(--color-neutral-950);
  --color-text-white: var(--color-neutral-50);
  --color-text-title: var(--color-neutral-950);
  --color-text-display: var(--color-neutral-700);

  /* border颜色 */
  --color-border-one: var(--color-neutral-300);


}

.headline1 {
  @apply lg:text-5xl text-2xl font-medium;
}

.headline2 {
  @apply lg:text-2xl text-base font-medium;
}

.navbtn {
  @apply lg:text-lg text-base font-medium leading-none;
}

.text-display {
  @apply lg:text-text-display lg:text-lg text-sm lg:leading-relaxed leading-6 font-normal;
}



body {
  background: var(--color-neutral-100);
  color: var(--color-neutral-950);
  font-family: 'TikTokSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
}

img {
  -webkit-user-drag: none;   /* 禁止拖拽（Chrome/Safari）*/
  user-select: none;          /* 禁止选中 */
  -webkit-touch-callout: none;/* iOS 禁止长按呼出菜单 */
}

/* 全局盒模型设置和默认字体 */
*{
  box-sizing: border-box;
  font-family: 'TikTokSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
}
